* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.title {
  font-size: 2rem;
  color: #fef7ee;
}

.bg-img {
  max-width: 100%;
  display: block;
  width: 100vw;
  position: relative;
}

.container {
  border-radius: 8px;
  position: absolute;
  width: 800px;
  top: 10vh;
  left: 10vw;
  z-index: 300;
  justify-content: center;
  background-color: #1b1d1f;
}

.bg-container {
  background: #111315;
  height: 130vh;
  overflow: hidden;
}

.text {
  position: relative;
  width: 480px;
  margin: 4rem auto;
  text-align: center;
}

.vector {
  position: absolute;
  max-width: 100%;
  z-index: -100;
  right: 145px;
  top: 15px;
}

.description {
  margin: 8px 0;
  color: #6f757c;
}

.text button {
  cursor: pointer;
  border: 1px transparent solid;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0.15rem;
  color: #fef7ee;
  background: #6f757c;

}

.text button:hover {
  background: none;
  border: 1px solid #6f757c;
}

#available {
  border: 1px transparent solid;
  background: none;
}

#available:hover {
  box-sizing: border-box;
  border: 1px #6f757c solid;
  border-radius: 8px;
}

.coffes-container {
  margin: 0 auto;
  padding: 0 4rem;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.coffes-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.675rem;
}

.coffe--img {
  position: relative;
}

.coffes-item {
  position: relative;
  max-width: 20vw;
  margin-bottom: 2.5rem;
}

.popular {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  left: 0;
  padding: 4px 10px;

  font-size: 0.625rem;
  color: #111315;
  background: #f6c768;
  border-radius: 12px;
}

.coffes-item h2 {
  color: #fef7ee;
  font-size: 0.875rem;
  font-weight: normal;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price span {
  font-size: 0.75rem;
  font-weight: bold;
  background: #bee3cc;
  border-radius: 4px;
  padding: 0.2rem 0.35rem;
}

.rate {
  margin-top: 4px;
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  color: #fef7ee;
}

.rate img {
  margin: auto 0;
}

.rate span {
  margin-left: 0.2rem;
  color: #6f757c;
  font-size: 0.625rem;
}

.numRate {
  margin-left: 4px;
}

span.soldOut {
  margin-left: 3rem;
  font-size: 0.75rem;
  color: #ed735d;
}

.hidden {
  display: none;
}
